@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font: 'Outfit', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--mainBG);
}

.container section{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    background-color: var(--cardBG);
    border-radius: 15px;
}

.container section .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.container section .image .imagem-principal{
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 8px;
}

.container section .image .image-active{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    width: 310px;
    height: 310px;
    border-radius: 8px;
    background-color: hsla(178, 100%, 50%, 0.479);
}

.container section .image .image-active:hover{
    cursor: pointer;
    opacity: 1;
}

.container section .content{
    display: flex;
    flex-direction: column;
    height: 40%;
    padding: 0px 25px;
    font-family: var(--font);
}

.container section .content h1{
    color: var(--White);
}

.container section .content h1:hover{
    cursor: pointer;
    color: var(--Cyan);
}

.container section .content > p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: var(--Softblue);
}

.container section .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.container section .icons .value{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container section .icons h2{
    font-size: 1em;
    color: var(--Cyan);
    margin-left: 10px;
}

.container section .icons .days{
    display: flex;
}

.container section .icons .days img{
    height: 20px;
}

.container section .icons .days > p{
    color: var(--Softblue);
    margin-left: 10px;
    font-weight: 300;
}

.container section .content .line{
    padding-top: 30px;
    width: 100%;
}

.container section .content hr{
    width: 100%;
    height: .1vh;
    border-width: 0;
    color: var(--line);
    background-color: var(--line);
}

.container section .content .credit{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.container section .content .credit a:hover{
    cursor: pointer;
    color: var(--Cyan);
}

.container section .content .credit img{
    width: 30px;
    border: 1px solid var(--White);
    border-radius: 100%;
    margin-right: 15px;
}

.container section .content .credit p{
    font-size: 0.9em;
    color: var(--Softblue);
}

.container section .content .credit p a{
    color: var(--White);
    text-decoration: none;
}